@{
    ViewData["Title"] = "About";
}

<style>
    body {
        background-image: url(../../images/today.jpg); /* Путь к фоновому изображению */
        background-color: #c7b39b; /* Цвет фона */
    }
</style>

    <div class="text-center" >
        <h1 class="display-4" > About</h1 >
            <p > Start to impress people around with <a href="https://youtube.com" > building Web apps with ASP.NET Core</a > .</p >

            <div class="leftcol" >
                <p > Whatever you want in your left column</p >
            </div >

        <div class="polaroid" >
            <p > September 20th, 2021<p >
            <img src="../../images/today.jpg" width="500" height="500" border="0">
        
        </div >
    </div>
